<div >
        <button class="btn" type="button" (click)='caso1()'>Boton 1</button>
        <button class="btn" type="button" (click)='caso2()'>Boton 2</button>
        <button class="btn" type="button" (click)='caso3()'>Boton 3</button>
</div>

<div [ngSwitch]="opcion" >
    <div *ngSwitchCase="0">
        <h1>Boton 1 sin presionar</h1>
        <h1>Boton 2 sin presionar</h1>
        <h1>Boton 3 sin presionar</h1>
    </div>


    <div *ngSwitchCase="1">
        <h1>Se presiono el boton 1</h1>
    </div>
    <div *ngSwitchCase="2">
        <h1>Se presiono el boton 2</h1>
    </div>
    <div *ngSwitchDefault>
        <h1>Se presiono el boton 3 por ngSwitchDefault</h1>
    </div>

</div>

